:root{

    --roboto               : 'Roboto', 'Sans-serif';
    --white                : #EBEDEE;
    --black                : #181818;
    --blue                 : #243D66;
    --violet               : #6E61CA;
    --fuchsia              : #C282FA;
    --fuchsia-dark         : #b677ec;
    --grey                 : #B9AFBE;
    --green                : #2EBF2B;
    --green-dark           : #1f901d;
    --red                  : #C94A4A;
    --red-dark             : #b23b3b;
    --background-glass     : linear-gradient(89.74deg, rgba(110, 97, 202, 0.1) 0.23%, rgba(194, 130, 250, 0.1) 99.79%);
    --shadow-glass         : 0px -10px 40px rgba(0, 0, 0, 0.25);
    --shadow-button        : 0px 0px 15px rgba(194, 130, 250, 0.5), 0px 0px 5px #6E61CA;
    --background-box-card  : linear-gradient(89.74deg, rgba(24, 24, 24, 0.9) 0.23%, rgba(36, 61, 102, 0.9) 98.24%);
    --gradient-line        : linear-gradient(0deg, #C282FA 0.96%, #6E61CA 100.02%);
    --box-shadow           : 0px 0px 15px rgba(194, 130, 250, 0.5), 0px 0px 5px #6E61CA;
}

html{
    scroll-behavior: smooth;
}

/** =========================== Body ===========================*/

.body{
    width: 100%;
    *height: 100vh;
    background-color: var(--black);
}

/**=========================== Main ===========================*/

.main{
    width: 100%;
    display: grid;
    grid-template-areas: 
    "hero"
    "aboutme"
    "stack"
    "certifications"
    "proyects"
    "contact";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, max-content);
}

/**=========================== Nav ===========================*/

.nav{
    --state-open: scale(1);
    --state-close: scale(0);
    --state-items: translate(-100%);
    --opacity-items: opacity(0);

    width: 100%;
    margin-top: 2em;
    grid-area: hero;
    z-index: 3;
    position: fixed;
}

.nav:target{
    --state-close: scale(1);
    --state-open: scale(0);
    --state-items: translate(0);
}

.nav__wrapper{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.nav__picture{
    width: 3em;
    height: 3em;
    z-index: 2;
    cursor: pointer;
}

.nav__logo{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/** Menu Open */
.menu__hamburger{
    width: 2em;
    height: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    grid-column: 2/3;
    grid-row: 1/2;
    cursor: pointer;
    transform: var(--state-open);
    transition: transform .4s ease-in-out;
}

.menu__line{
    width: 100%;
    height: .2em;
    border-radius: 5px;
    background-color: var(--white);
}

/** Menu Close */
.menu__close{
    width: 2em;
    height: 2em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    grid-column: 2/3;
    grid-row: 1/2;
    cursor: pointer;
    transform: var(--state-close);
    *background-color: #B9AFBE;
}

.menu__line--closeone{
    grid-row: 1/2;
    grid-column: 1/2;
}

.menu__line--closetwo{
    grid-row: 1/2;
    grid-column: 1/2;
}

.menu__line--closeone{
    transform-origin: center;
    transform: rotate(-45deg);
}

.menu__line--closetwo{
    transform-origin: center;
    transform: rotate(45deg);
}

.nav__items{
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 5% 0 0;
    list-style: none;
    justify-content: right;
    align-content: center;
    gap: 2em;
    text-align: right;
    transform: var(--state-items);
    transition: .5s transform ease-in-out;
    background-color: var(--black);
}

.nav__link{
    text-decoration: none;
    color: var(--white);
    font-size: 1.3rem;
    letter-spacing: 2px;
    transition: all .2s ease-in-out;
}

.nav__link:hover{
    color: var(--grey);
}

/**=========================== Hero ===========================*/

.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    grid-area: hero;
}

.hero__wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
    margin-top: 30vh;
}

.hero__title{
    width: 90%;
    max-width: 60em;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row: 1/2;
    grid-column: 1/2;
    margin: 0 auto;
}

.hero__h1{
    font-size: 1.3em;
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 1em;
    padding-bottom: .5em;
    font-weight: 400;
    letter-spacing: 2px;
    align-self: flex-end;
}

.hero__gabodev{
    display: block;
    width: 100%;
    max-width: 60em;
    height: max-content;
    padding-bottom: 1em;
    filter: drop-shadow(4px 2px 5px rgba(194, 130, 250, .5));
}

.button{
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--fuchsia);
    margin: 0 auto;
    padding: 1em 3em;
    gap: 1em;
    border-radius: 3em;
    cursor: pointer;
    color: var(--white);
    margin: 1em auto;
    text-decoration: none;
    border: 2px solid var(--fuchsia-dark);
    transition-property: width;
}

.button__icon--static, .button__icon--check, .button__icon--xmark{
    width: 1.5em;
    height: 100%;
}

.button__icon--check, .button__icon--xmark{
    display: none;
}

.button:hover{
    box-shadow: var(--shadow-button);
}

.button--send, .button--success, .button--failure{
    width: 3.5em;
    height: 3.5em;
    padding: 0;
    border-radius: 50%;
    background-color: var(--fuchsia);
    border: 2px solid var(--fuchsia-dark);
    transition: all 1s ease;
    box-shadow: none;
}

.button--success{
    background-color: var(--green);
    border: 2px solid var(--green-dark);
}

.button--failure{
    background-color: var(--red);
    border: 2px solid var(--red-dark);
}

.loader{
    width: max-content;
    height: 1.5em;
    display: none;
    align-items: center;
    flex-direction: row;
    gap: .4em;
}

.loader__dot{
    width: .5em;
    height: .5em;
    border-radius: 50%;
    background-color: var(--white);
    animation: loader .7s alternate infinite ease;
}

@keyframes loader{
    from{
        transform: scale(.2);
    }
    to{
        transform: scale(1);
    }
}

.loader__dot:nth-child(2){
    animation-delay: .2s;
}

.loader__dot:nth-child(3){
    animation-delay: .4s;
}


/**=========================== Aboutme ===========================*/

.aboutme, .stack, .certifications, .proyects, .contact{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: aboutme;
}

.card{
    width: 90%;
    max-width: 75em;
    display: grid;
    grid-template-areas: "card";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 2em 0;
    transform: scale(.7);
    transition: all 1s ease-in-out;
    opacity: 0;
}

.card__show{
    transform: scale(1);
    opacity: 1;
}

.card__glass{
    width: 100%;
    height: 100%;
    border-radius: 1em;
    grid-area: card;
    z-index: 1;
    background: var(--background-glass);
    backdrop-filter: blur(7.5px);
}

.card__box{
    background: var(--background-box-card);
    grid-area: card;
    justify-self: center;
    align-self: center;
    z-index: 2;
    border-radius: 1em;
    margin: 1em;
    padding: 2em;
}

.card__h2{
    padding-bottom: 0.3em;
    font-size: 1.5rem;
}

.card__paragraph{
    line-height: 1.6em;
    margin-bottom: .3em;
    font-size: 1.1rem;
    color: var(--grey);
}

/**=========================== Stack ===========================*/

.stack{
    flex-direction: column;
    grid-area: stack;
}

.card__items{
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    margin-top: 1.5em;
}

.card__icon{
    width: 100%;
    height: 2.5em;
    cursor: pointer;
}

.card__icon:hover{
    *background-color: var(--grey);
}

/**=========================== certifications ===========================*/

.certifications{
    grid-area: certifications;
}

.card__items--certifications{
    flex-direction: column;
}

.card__item--certifications{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card__icon--certifications{
    width: 2.22em;
    height: 100%;
    margin-right: 1em;
    cursor: unset;
}

.card__description{
    display: flex;
    flex-direction: column;
}

.card__span{
    color: var(--grey);
}

/**=========================== Proyects ===========================*/

.proyects{
    grid-area: proyects;
    flex-direction: column;
}

.card__preview{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.card__link{
    width: 100%;
    height: 100%;
    display: flex;
    margin-bottom: 1em;
    cursor: pointer;
}

.card__img{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    transition: filter .5s ease-in-out;
}

.card__img:hover{
    filter: grayscale(0);
}

.data__header{
    display: flex;
    flex-direction: column;
    margin-bottom: .5em;
    gap: 1em;
}

.data__title{
    width: max-content;
}

.data__links{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.data__link{
    width: max-content;
    height: 100%;
}

.data__icon{
    width: 1.7em;
    height: 100%;
}

/**=========================== Contact ===========================*/

.contact{
    grid-area: contact;
}

.contact__box{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 4em 0;
}

.contact__title{
    font-size: 2.7rem;
    margin-bottom: 3rem;
}

.form{
    width: 100%;    
    display: flex;
    flex-direction: column;
}

.form__wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 1em;
}

.form__label{
    font-size: 1.2rem;
    font-weight:800;
    letter-spacing: 1px;
    color: var(--grey);
}

.form__box{
    width: 100%;
    height: 3em;
    position: relative;
    display: flex;
}

.form__box--textarea{
    height: 20em;
}

.form__input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 1em;
    background: var(--background-glass);
    padding: 1em;
    color: var(--white);
}

.form__input--error{
    border: 1px solid var(--red);
}

.form__icon{
    width: 1.4em;
    height: 100%;
    display: none;
    position: absolute;
    right: 5%;
}

.form__alert{
    color: var(--red);
    letter-spacing: 1px;
    display: none;
}

.contact__bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--grey);
    margin: 3em 0;
}

.contact__line{
    width: 40%;
    height: 2px;
    background-color: var(--grey);
}

.contact__socialmedias{
    width: 100%;
}

.contact__list{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2em;
    padding: 0;
}

.contact__link{
    width: 11em;
    height: 3.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--grey);
    border: 1px solid var(--grey);
}

.contact__link:hover{
    box-shadow: var(--shadow-button);
}

.contact__item{
    list-style: none;
}

.contact__icon{
    width: 1.5em;
    height: 100%;
    margin-right: 1em;
}

/**=========================== Backgrounds ===========================*/

.moon{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    grid-column: 1/2;
    grid-row: 1/3;
    z-index: -1;
    overflow: hidden;
}

.moon__img{
    width: 60em;
    height: 100%;
    margin-top: 15vh;
    animation: changeMoon 4s alternate infinite;
}

@keyframes changeMoon{
    to{
        filter: hue-rotate(1turn);
    }
    from{
        transform: translateY(-1em);
    }
}

.astronaut{
    width: 30%;
    max-width: 13em;
    height: max-content;
    justify-self: start;
    align-self: center;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 5%;
    margin-top: 20%;
    animation: moveAstro 2s infinite alternate ease-in-out;
}

@keyframes moveAstro{
    to{
        transform: translateY(-1em);
    }
}

.astronaut__img{
    width: 100%;
    height: 100%;
}


/**=========================== Medias Querys ===========================*/
@media (min-width:950px) {
    
    .nav{
        --state-open: scale(0);
        --state-items: translate(0);
    }

    .nav:target{
        --state-close: scale(0);
    }

    .nav__items{
        padding: 0;
        background-color: unset;
        position: unset;
        transform: unset;
        grid-column: -2/-1;
        grid-row: 1/2;
        grid-auto-flow: column;
        align-items: center;
        letter-spacing: 0;
        gap: 2em;
    }

    .nav__link{
        font-size: 1em;
    }

    .card__box--proyects{
        display: grid;
        grid-template-columns: 35% 65%;
        grid-template-rows: 1fr;
        gap: 1em;
    }

    .data__header{
        flex-direction: row;
        align-items: center;
        gap: 1em;
    }

    .card__preview{
        width: 100%;
        height: 100%;
        margin-bottom: unset;
    }

    .card__link{
        margin-bottom: unset;
    }

    .card__img{
        width: 100%;
        height: 100%;
        margin-bottom: unset;
        object-fit: contain;
    }

    .moon__img{
        width: 60em;
        height: 100%;
        margin-top: 25vh;
        animation: changeMoon 4s alternate infinite;
    }

    .contact__box{
        width: 50%;
    }

    .contact__list{
        flex-direction: row;
    }
}